body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: 500px;
}

.body-title {
    font-size: 50px;
    text-align: center;
    color: green
}

.lasagna-title {
    color: maroon;
}

.lamb-curry-title {
    color: gray;
}

.blueberry-muffin-title {
    color: red
}

.section-header {
    font-size: 30px;
    color: purple;
}

.recipe-list {
    background-color: aliceblue;
    text-align: center;
}

.recipe-list li a {
    font-size: 20px;
    background-color: yellow;
    color: red;
    
}

.ingredient-list {
    font-size: 16px;
    background-color: blue;
    color: aliceblue;
}

.ingredient-list li {
    text-align: center;
    color: aliceblue;
}


.steps-list {
    font-size: 16px;
    background-color: brown;
}

.steps-list li {
    color: #ffffff;
}